#areas-de-atuacao {
    height: 870px;
}

.area-text {
    white-space: break-spaces;
    display: inline-block;
    max-width: 710px;
}

.list-group-item {
    padding: 1rem 1rem !important;
}

ul {
    padding-right: 30px !important;
}

#consultivo-civel, #contencioso-civil, #direito-administrativo, #direito-e-saude, #direito-empresarial, #lgpd, #trabalhista-previdenciario {
    color: var(--azul-escuro);
}

#banner-superior {
    height: 550px !important;
}

#banner-content {
    width: 570px;
}

.top-header {
    background-size: cover !important;
}

#select-interesse {
    background-image: url("/img/caret-down.svg") !important;
    background-size: 5% !important;
}

.estamos-prontos {
    height: 130px;
    width: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.prontos-text {
    width: 235px;
    margin-right: 40px;
}

.text-right {
    text-align: right;
}

#banner-superior {
    height: 950px;
    background-image:
            url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -85px;
}

@media (min-width: 1920px) {
    .top-header {
        background-size: cover;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.top-header {
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-color: #003057;
    z-index: 5;
}