#areas-de-atuacao {
    padding-top: 150px;
    padding-bottom: 150px;
}

.area-text {
    white-space: break-spaces;
    display: inline-block;
    max-width: 710px;
}

.list-group-item {
    padding: 1rem 1rem !important;
}

ul {
    padding-right: 30px !important;
}

#consultivo-civel, #contencioso-civil, #direito-administrativo, #direito-e-saude, #direito-empresarial, #lgpd, #trabalhista-previdenciario {
    color: var(--azul-escuro);
}

#banner-superior {
    height: 550px;
    background-size: cover;
    background-position-y: -85px;
    background-image: url("/img/banner-superior.png");
}

#banner-content {
    max-width: 570px;
}

.top-header {
    background-size: cover !important;
}

#select-interesse {
    background-image: url("/img/caret-down.svg") !important;
    background-size: 5% !important;
}

.estamos-prontos {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.prontos-text {
    width: 235px;
    margin-right: 40px;
}


@media (min-width: 1920px) {
    .top-header {
        background-size: cover;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.top-header {
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-color: #003057;
    z-index: 5;
}

@media (max-width: 768px) {
    .prontos-text {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #areas-de-atuacao {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #banner-superior {
        height: 425px !important;
    }
}

@media (max-width: 992px) {
    .top-header {
        display: none;
    }
}

@media (max-width: 1110px) {
    #banner-superior {
        background-size: auto 100%;
        background-position-x: 75%;
        background-position-y: initial;
    }
    .top-header {
        background-image: none !important;
        background-color: var(--azul-escuro) !important;
    }
}