#banner-superior {
    height: 550px !important;
}

.top-header {
    background-size: cover !important;
}

#posts-heading {
    padding-top: 100px;
    padding-bottom: 100px;
}

#select-interesse {
    background-color: var(--dourado);
    color: white;
}

img {
    transition: all 400ms ease;
}

.pag-btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFDFDF;
    color: inherit;
    margin-right: 5px;
    margin-left: 5px;
}

.pag-btn:hover {
    background-color: var(--azul-escuro);
    color: white !important;
}

.pag-btn.active {
    background-color: var(--dourado);
    color: white !important;
}

#pagination {
    margin-top: 75px;
    margin-bottom: 75px;
}

#banner-superior {
    height: 950px;
    background-image:
            url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -85px;
}

@media (min-width: 1920px) {
    .top-header {
        background-size: cover;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.top-header {
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-color: #003057;
    z-index: 5;
}
