html {
    --proxima: "Proxima Nova", sans-serif;
    --playfair: "Playfair Display", serif;

    --azul-escuro: rgb(0, 48, 87);
    --azul-claro: rgba(0, 70, 128, 1);
    --dourado: rgba(214, 164, 97, 1);
    --text: #9B9B9B;
}

body {
    font-family: var(--proxima);
    color: var(--text);
}



/* Utilities */

.fs-10 {
    font-size: 10px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-44 {
    font-size: 44px !important;
}

.fs-72 {
    font-size: 72px !important;
}

.lh-24 {
    line-height: 24px !important;
}
.lh-32 {
    line-height: 32px !important;
}
.lh-60 {
    line-height: 60px !important;
}
.lh-96 {
    line-height: 96px !important;
}

.text-escuro {
    color: var(--azul-escuro) !important;
}

.text-claro {
    color: var(--azul-claro) !important;
}

.text-dourado {
    color: var(--dourado) !important;
}

.bg-escuro {
    background-color: var(--azul-escuro) !important;
}

.bg-claro {
    background-color: var(--azul-claro) !important;
}

.bg-dourado {
    background-color: var(--dourado) !important;
}

.border-escuro {
    border-color: var(--azul-escuro) !important;
}

.border-claro {
    border-color: var(--azul-claro) !important;
}

.playfair {
    font-family: var(--playfair) !important;
}

.w-max-content {
    width: max-content !important;
}

.top-0 {
    top: 0 !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}


/* Bootstrap Overrides */

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: var(--dourado);
    border-color: var(--dourado);
    color: white;
}

.btn-primary:hover {
    background-color: var(--azul-escuro);
    border-color: var(--azul-escuro);
    color: white;
}

.btn-secondary {
    background-color: white;
    border-color: white;
    color: var(--dourado);
}

.btn-secondary:hover {
    background-color: var(--dourado);
    border-color: var(--dourado);
    color: white;
}

a:hover {
    color: var(--dourado) !important;
}

.navbar {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28214,164,97,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: rgba(214, 164, 97, 0.1);
    color: rgba(214, 164, 97, 0.85);
}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
}

.nav-link {
    padding-left: 12.5px !important;
    padding-right: 12.5px !important;
}

.form-control {
    background-color: #f9f9f9 !important;
    border-color: #eee !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(214, 164, 97, 0.7);
}

.form-select {
    background-color: #f9f9f9 !important;
    border-color: #eee !important;
    color: inherit !important;
    height: 58px;
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(214, 164, 97, 0.7);
}


/* Gradients */

.top-banner-gradient {
    background-image:
            linear-gradient(to top right, rgba(0, 0, 0, 0.5), transparent),
            linear-gradient(to bottom, rgba(0, 48, 87, 1), transparent);
}

.bottom-banner-gradient {
    background-image:
            linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent),
            linear-gradient(to bottom, rgba(0, 70, 128, 0.5), transparent);
}

.bottom-banner-fundo {
    background-color: rgba(0, 48, 87, 0.5);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banner-img {
    width: 100%;
    object-fit: cover
}

.top-banner-img {
    height: 950px;
}

.bottom-banner-img {
    height: 750px;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

header {
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-color: #003057;
    z-index: 5;
}

.fixed-header {
    position: sticky;
    z-index: 4;
    background-image: none;
    background-color: white;
}

.bar-section {
    height: 30px;
    display: flex;
    align-items: center;
}

.top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bar-link {
    color: inherit;
    text-decoration: none;
}

.divisor::after {
    position: absolute;
    right: 0;
    top: -6px;
    content: "";
    height: 30px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Banner Superior -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#banner-superior {
    height: 950px;
    background-image:
            url("/img/banner-superior.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -85px;
}

@media (min-width: 1920px) {
    header {
        background-size: cover;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Banner Inferior -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.consulta-header {
    padding: 30px 45px;
}

.consulta-body {
    padding: 45px;
}

#msg {
    height: 90px;
}

.form-floating:first-child {
    margin-bottom: 20px;
}

.form-floating:not(:first-child) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-floating:nth-child(4) {
    margin-top: 20px;
    margin-bottom: 0;
}

.msg-btn {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.line-title {
    color: var(--dourado);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 85px;
}

.line-title::before {
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    left: -85px;
    background-color: var(--dourado);
}

.contato-text {
    padding-top: 30px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contatos-content {
    margin-bottom: 36px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- SubFooter -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.newsletter {
    height: 240px;
    background-color: var(--azul-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 37px;
    padding-right: 37px;
}

.news-submit {
    color: var(--azul-escuro);
    width: 48px;
}

.news-submit:hover {
    color: var(--dourado) !important;
}

.news-input {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: white !important;
    border-radius: 0;
    height: 45px;
}

.news-input::placeholder {
    color: white;
}