/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Áreas de Atuação -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.area-card {
    display: block;
    padding: 40px 30px 47px;
    position: relative;
}

.area-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--dourado);

    opacity: 0;
    transform: translateY(4px);
    transition: all 350ms ease;
}

.area-card:hover::after {
    opacity: 1;
    transform: translateY(0);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Sobre Nós -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.sobre-nos-text {
    width: 540px;
}

.detalhe-lg {
    position: absolute;
    top: 0;
    right: 0;
}

.detalhe-sm {
    position: absolute;
    top: 0;
    right: 45px;
}

.brc-square {
    width: 270px;
    height: 280px;
    background-color: var(--azul-escuro);
    position: absolute;
    top: 285px;
    left: 300px;
    border-top: 5px solid white;
    border-left: 5px solid white;
}