@media (max-width: 1920px) {
    .home {
        margin-top: -85px;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Áreas de Atuação -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.fundo-areas {
    background-image: url("/img/pattern.png");
    background-color: #f9f9f9;
    padding-top: 225px;
    padding-bottom: 225px;
}

.text-2 {
    margin-bottom: 131px;
}

.area-card {
    display: block;
    padding: 40px 30px 47px;
    position: relative;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.05);
}

.area-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--dourado);

    opacity: 0;
    transform: translateY(4px);
    transition: all 350ms ease;
}

.area-card:hover::after {
    opacity: 1;
    transform: translateY(0);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Sobre Nós -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.sobre-nos-text {
    width: 540px;
}

.detalhe-lg {
    position: absolute;
    top: 0;
    right: 0;
}

.detalhe-sm {
    position: absolute;
    top: 0;
    right: 45px;
}

.brc-square {
    width: 270px;
    height: 280px;
    background-color: var(--azul-escuro);
    position: absolute;
    top: 285px;
    left: 300px;
    border-top: 5px solid white;
    border-left: 5px solid white;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Nossa Equipe -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.overlay-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.socio-img {
    height: max-content;
}

img {
    transition: all 400ms ease;
}

.socio-img:hover img {
    transform: scale(1.15);
}

.socio-img:hover .grad-curto {
    background: transparent;
}

.grad-curto {
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    height: 100px;
    z-index: 2;

    transition: all 400ms ease;
}

.grad-longo {
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    height: 200px;
    z-index: 1;
}

.z-index-3 {
    z-index: 3;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Parallax -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.parallax-container {
    height: 400px;
    background-color: rgba(0, 48, 87, 0.75);
    background-image: linear-gradient(to bottom, rgba(0, 70, 128, 0.5), transparent);
}

.parallax {
    position: fixed;
    top: 0;
    z-index: -2;
    width: 100%;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.post-card-body {
    padding-right: 30px;
    padding-left: 30px;
}

.post-card-overlay {
    position: relative;
    overflow: hidden;
}

.post-card-overlay:hover img {
    transform: scale(1.15);
}

.categoria {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: var(--dourado);
    color: white;
    width: 112px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 30px;
}